{% include 'adminheader.html'%}


<head>
	<title></title>
</head>
<body>
	<center>
	<!-- <a href="/admin/adm_reg_manager"><br>manage branches</br></a>
	<a href="/admin/adm_view_staff"><br>view staffs</br></a>
	<a href="/admin/adm_view_delboy"><br>view delivery boys</br></a>
	<a href="/admin/adm_mng_cargo_price"><br>manage cargo prices</br></a>
	<a href="/admin/adm_View_review"><br>review & rating</br></a>
	<a href="/admin/adm_view_feedback"><br>view feedback</br></a>
	</center> -->


</body>
{% include'footer.html'%}