{% include 'managerheader.html'%}
<head>
	<title>
		
	</title>
</head>
<body>
	<!-- <a href="/manager/mngr_reg_staff"><br>manage staff</br></a>
	<a href="/manager/mngr_reg_delboy"><br>manage deliveryboys</br></a>
    <a href="/manager/mng_view_reg_cus">view customer</a>
     <a href="/manager/mng_view_cargo_buk">view cargo booking</a>
      <a href="/manager/mngr_view_payment">view payment</a>
      <a href="/manager/mng_view_carstatus">view cargo status</a> -->
</body>
{% include'footer.html'%}