{% include 'managerheader.html'%}
<head>
	<h1><center>view customer</center></h1>
</head>
<body>
	<form method="post">
		<table align="center" class="table" border="2" id="customers">
			<thead>
				<tr>
					<th>first name</th>
					<th>last name</th>
					<th>phone</th>
					<th>email</th>
					<th>latitude</th>
					<th>longitude</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data['viewcus']%}
				<tr>
					<td>{{row['f_name']}}</td>
					<td>{{row['l_name']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					<td>{{row['latitude']}}</td>
					<td>{{row['longitude']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>

</body>
{% include'footer.html'%}